/* line 12, ../sass/style.scss */
body {
  min-width: 1200px;
  font-family: 'Ubuntu', sans-serif; }

/* line 17, ../sass/style.scss */
nav {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  /* line 29, ../sass/style.scss */
  nav ul {
    height: 18px;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s; }
  /* line 40, ../sass/style.scss */
  nav li {
    display: inline-block;
    line-height: 44px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 800; }
  /* line 51, ../sass/style.scss */
  nav a {
    display: block;
    height: 40px;
    color: #333;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    /* line 62, ../sass/style.scss */
    nav a:hover {
      box-shadow: inset 0 8px 0 #5EC4CD; }
  /* line 67, ../sass/style.scss */
  nav.active {
    -webkit-box-shadow: inset 0 8px 0 #a2e0e6;
    -moz-box-shadow: inset 0 8px 0 #a2e0e6;
    box-shadow: inset 0 8px 0 #a2e0e6; }
    /* line 68, ../sass/style.scss */
    nav.active a {
      color: #028e9b;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      /* line 76, ../sass/style.scss */
      nav.active a:hover {
        box-shadow: inset 0 8px 0 #C1F1F5; }
  /* line 85, ../sass/style.scss */
  nav.canvased {
    background-color: #fff;
    -webkit-box-shadow: inset 0 8px 0 #a2e0e6, 2px 2px 3px #dddddd;
    -moz-box-shadow: inset 0 8px 0 #a2e0e6, 2px 2px 3px #dddddd;
    box-shadow: inset 0 8px 0 #a2e0e6, 2px 2px 3px #dddddd;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

/* line 98, ../sass/style.scss */
header {
  height: 500px;
  background-color: #A2E0E6;
  background-size: cover; }
  /* line 103, ../sass/style.scss */
  header article {
    position: fixed;
    margin-top: 90px;
    overflow: hidden; }
  /* line 110, ../sass/style.scss */
  header h1,
  header h2 {
    display: inline-block;
    float: left;
    clear: left;
    margin: 10px 0 10px;
    padding: 15px 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  /* line 119, ../sass/style.scss */
  header h1 {
    font-size: 50px; }

/* line 124, ../sass/style.scss */
main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px 5px #aaa;
  -moz-box-shadow: 0 5px 10px 5px #aaa;
  box-shadow: 0 5px 10px 5px #aaa; }
  /* line 132, ../sass/style.scss */
  main h1 {
    font-size: 32px; }

/* line 137, ../sass/style.scss */
section {
  position: relative;
  height: 400px;
  width: 100%; }

/* line 143, ../sass/style.scss */
article {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  position: absolute;
  top: 0;
  height: 400px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  /* line 154, ../sass/style.scss */
  article div.pane {
    width: 66.41221%;
    float: left;
    margin-right: -100%;
    margin-left: 16.79389%;
    clear: none;
    position: static;
    height: 400px; }
  /* line 160, ../sass/style.scss */
  article:nth-child(2) {
    left: 100%; }
  /* line 164, ../sass/style.scss */
  article.active {
    left: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  /* line 173, ../sass/style.scss */
  article .pulltag, article .curious, article .satisfied {
    position: absolute;
    display: block;
    width: 100px;
    height: 100%;
    text-align: center;
    background-color: #FFB573;
    cursor: pointer; }
    /* line 182, ../sass/style.scss */
    article .pulltag:hover, article .curious:hover, article .satisfied:hover {
      background-color: #FC963A; }
    /* line 186, ../sass/style.scss */
    article .pulltag span, article .curious span, article .satisfied span {
      position: absolute;
      top: 300px;
      width: 100%;
      left: 0;
      text-align: center; }
  /* line 195, ../sass/style.scss */
  article .curious {
    left: -100px; }
  /* line 200, ../sass/style.scss */
  article .satisfied {
    right: 0; }

/* line 206, ../sass/style.scss */
section[role=coins] {
  height: 400px; }
  /* line 210, ../sass/style.scss */
  section[role=coins] article:nth-child(1) {
    height: 400px;
    background-color: #EFF2F5;
    color: #93ADC9; }
  /* line 217, ../sass/style.scss */
  section[role=coins] article:nth-child(2) {
    background-color: #EFF2F5;
    color: #93ADC9; }
    /* line 222, ../sass/style.scss */
    section[role=coins] article:nth-child(2) div.pane {
      background-color: #EFF2F5; }
    /* line 227, ../sass/style.scss */
    section[role=coins] article:nth-child(2) .pulltag, section[role=coins] article:nth-child(2) .curious, section[role=coins] article:nth-child(2) .satisfied {
      background-color: #80D0B3;
      color: #fff; }
      /* line 231, ../sass/style.scss */
      section[role=coins] article:nth-child(2) .pulltag:hover, section[role=coins] article:nth-child(2) .curious:hover, section[role=coins] article:nth-child(2) .satisfied:hover {
        background-color: #4EA083; }
      /* line 235, ../sass/style.scss */
      section[role=coins] article:nth-child(2) .pulltag span, section[role=coins] article:nth-child(2) .curious span, section[role=coins] article:nth-child(2) .satisfied span {
        top: 150px; }
  /* line 241, ../sass/style.scss */
  section[role=coins] div.pane {
    padding-top: 30px;
    background-color: #EFF2F5; }

/* line 247, ../sass/style.scss */
section[role=about] {
  height: 800px;
  color: #fff; }
  /* line 252, ../sass/style.scss */
  section[role=about] article:nth-child(1) {
    height: 800px;
    background-color: #93ADC9; }
  /* line 256, ../sass/style.scss */
  section[role=about] article:nth-child(2) {
    height: 800px;
    background-color: #93ADC9; }
    /* line 260, ../sass/style.scss */
    section[role=about] article:nth-child(2) div.pane {
      text-align: center; }
