@import "compass";
@import "breakpoint";
@import "singularitygs";

$grids: 12;
$gutters: 1/10;

$nav-colour-bg: #EFF2F5;
$nav-colour-border: #A2E0E6;
$nav-colour: #028E9B;

body {
	min-width: 1200px;
	font-family: 'Ubuntu', sans-serif;
}

nav {
	@include grid-span(12);
	position: fixed;
	top: 0;
	height: 40px;
	z-index: 1;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

	ul {
		height: 18px;
		padding: 0;
		margin: 0;
		text-align: center;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
	}

	li {
		display: inline-block;
		line-height: 44px;
		width: 100px;
		text-align: center;
		font: {
			size: 14px;
			weight: 800;
		}
	}

	a {
		display: block;
		height: 40px;
		color: #333;
		text-decoration: none;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;

		&:hover {
			box-shadow: inset 0 8px 0 #5EC4CD;
		}
	}

	&.active {
		a {
			color: $nav-colour;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-ms-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;

			&:hover {
				box-shadow: inset 0 8px 0 #C1F1F5;
			}
		}
		-webkit-box-shadow: inset 0 8px 0 $nav-colour-border;
		-moz-box-shadow: inset 0 8px 0 $nav-colour-border;
		box-shadow: inset 0 8px 0 $nav-colour-border;
	}

	&.canvased {
		background-color: #fff;
		-webkit-box-shadow: inset 0 8px 0 $nav-colour-border, 2px 2px 3px #ddd;
		-moz-box-shadow: inset 0 8px 0 $nav-colour-border, 2px 2px 3px #ddd;
		box-shadow: inset 0 8px 0 $nav-colour-border, 2px 2px  3px #ddd;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
}

header {
	height: 500px;
	background-color: #A2E0E6;
	background-size: cover;

	article {
		position: fixed;
		margin-top: 90px;
		overflow: hidden;
	}

	h1,
	h2 {
		display: inline-block;
		float: left;
		clear: left;
		margin: 10px 0 10px;
		padding: 15px 10px;
		@include opacity(0.7);
	}

	h1 {
		font-size: 50px;
	}
}

main {
	@include grid-span(12);
	position: relative;
	overflow: hidden;
    -webkit-box-shadow: 0 5px 10px 5px #aaa;
    -moz-box-shadow: 0 5px 10px 5px #aaa;
    box-shadow: 0 5px 10px 5px #aaa;

	h1 {
		font-size: 32px;
	}
}

section {
	position: relative;
	height: 400px;
	width: 100%;
}

article {
	@include grid-span(12);
	position: absolute;
	top: 0;
	height: 400px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

	div.pane {
		@include grid-span(8,3);
		position: static;
		height: 400px;
	}

	&:nth-child(2) {
		left: 100%;
	}

	&.active {
		left: 0;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;		
	}

	.pulltag {
		position: absolute;
		display: block;
		width: 100px;
		height: 100%;
		text-align: center;
		background-color: #FFB573;
		cursor: pointer;

		&:hover {
			background-color: #FC963A;
		}

		span {
			position: absolute;
			top: 300px;
			width: 100%;
			left: 0;
			text-align: center;
		}
	}

	.curious {
		@extend .pulltag;
		left: -100px;
	}

	.satisfied {
		@extend .pulltag;
		right: 0;
	}
}

section[role=coins] {

	height: 400px;

	article:nth-child(1) {
		height: 400px;
		background-color: #EFF2F5;
		color: #93ADC9;

		
	}
	article:nth-child(2) {
		// background-color: #FFAD00;
		background-color: #EFF2F5;
		color: #93ADC9;

		div.pane {       
			// background-color: #FFD273;
			background-color: #EFF2F5;
		}

		.pulltag {
			background-color: #80D0B3;
			color: #fff;

			&:hover {
				background-color: #4EA083;
			}

			span {
				top: 150px;
			}
		}
	}

	div.pane {
		padding-top: 30px;
		background-color: #EFF2F5;
	}
}

section[role=about] {
	
	height: 800px;
	color: #fff;

	article:nth-child(1) {
		height: 800px;
		background-color: #93ADC9;
	}
	article:nth-child(2) {
		height: 800px;
		background-color: #93ADC9;

		div.pane {
			text-align: center;
		}
	}
}